.navbar {
  background-color: #222;
  padding: 10px;
  ul {
    display: flex;
    gap: 15px;
    list-style: none;
    li {
      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}